# ===== macOS =====
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# ===== Xcode =====

## User settings
xcuserdata/

## Build generated
build/
build_output/
DerivedData/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Object files
*.o
*.d

## Precompiled headers / modules
*.pch
*.gch
*.modulemap.timestamp

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcworkspacedata

## Xcode profiling
*.gcno
*.gcda

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Index / Build stores
IDEWorkspaceChecks.plist

# ===== Swift Package Manager =====
.build/
.swiftpm/
Package.resolved
Packages/

# ===== CocoaPods =====
# Pods/

# ===== Carthage =====
Carthage/Build/
Carthage/Checkouts/

# ===== fastlane =====
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# ===== Code Injection =====
iOSInjectionProject/

# ===== Provisioning Profiles =====
*.mobileprovision
*.provisionprofile

# ===== Archives =====
*.xcarchive

# ===== Misc =====
*.swp
*~
.vscode/
.idea/
